---
title: Data Sources
layout: default
permalink: /sources/
---
{% include breadcrumbs.html %}
{% for source in site.sources %}
  {% assign dataset_count = site.datasets | where:"source", source.title | size %}
  <div class="media">
    <div class="media-left">
      {% if source.logo and source.logo != empty %}
        <a href="{{ site.baseurl }}{{ source.url }}" class="source-thumbnail">
          <img class="media-object" src="{{ source.logo }}" alt="{{ source.title }}">
        </a>
      {% endif %}
    </div>
    <div class="media-body">
      <h4 class="media-heading"><a href="{{ site.baseurl }}{{ source.url }}">{{ source.title }}</a></h4>
      <p>{{ source.description }}</p>
      <p><a href="{{ site.baseurl }}/datasets/?sources={{ source.title | slugify }}">{{ dataset_count }} datasets</a></p>
    </div>
  </div>
{% endfor %}