<div class="form-group">
    <label for="{{ include.field_name }}[]">{{ include.field.label }}{{ include.required | default: "" }}</label>
    <select class="form-control select2" id="{{ include.field_name }}[]" name="{{ include.field_name }}[]" {% if include.required %}required="true"{% endif %} style="width: 100%">
      <option disabled selected value> -- select an option if needed -- </option>
      {% for haz in site.data.rdl-hazard_type %}
        <option value={{ haz[0] }}>{{ haz[1] }}</option>
      {% endfor %}
    </select>
  </div>
