<div class="form-group">
  <label for="{{ include.field_name }}[]">{{ include.field.label }}{{ include.required | default: "" }}</label>
  <select class="form-control select2" id="{{ include.field_name }}[]" name="{{ include.field_name }}[]" {% if
    include.required %}required="true" {% endif %} style="width: 100%">
    {% if include.value[0] %}{% assign value = include.value[0] %}{% else %}{% assign value = include.value %}{% endif %}
    {% if value == "" or value == nil %}
      <option disabled selected value> -- select an option -- </option>
    {% endif %}
    {% for val in site.data.rdl-val_type %}
    <option{% if value == val %} selected="selected"{% endif %} value="{{ val }}">{{ val }}</option>
    {% endfor %}
    
  </select>
</div>
