<!-- general behavior -->
<script type="text/javascript">
  $(document).ready(function () {
    // Initialize Bootstrap tooltips
    $('[data-toggle="tooltip"]').tooltip();

    $("a[rdlmail]").on("mouseover click hover", function () {
      this.href = this.href.replace("tt%7C%7C@rdl.org/", "").replace("@@", ".");
    });
  });
</script>

<footer class="modern-footer">
  <div class="footer-content">
    <div class="footer-branding">
      <h5>Risk Data Library</h5>
      <p>© 2023 Global Facility for Disaster Reduction and Recovery </p>
      <div class="footer-logos">
        <div class="footer-logo">
          <img src="https://www.gfdrr.org/themes/custom/gfdrr/images/GFDRR_Primary%20Logo_White.svg?v=3c" alt="GFDRR">
        </div>
        <div class="footer-sponsor-logos">
          <img src="https://riskdatalibrary.org/assets/images/partners/SR_Logo_Foundation_white.svg" alt="Swiss Re Foundation">
          <img src="https://riskdatalibrary.org/assets/images/partners/GatesFoundationlogo.svg" alt="Gates Foundation">
        </div>
      </div>
    </div>
    <div class="footer-section">
      <h5>Open</h5>
      <ul>
        <li><a href="#">Data</a></li>
        <li><a href="#">Standard</a></li>
        <li><a href="#">Tools</a></li>
      </ul>
    </div>
    <div class="footer-section">
      <h5>Project</h5>
      <ul>
        <li><a href="#">About</a></li>
        <li><a href="#">Team</a></li>
      </ul>
    </div>
    <div class="footer-section">
      <h5>Legal</h5>
      <ul>
        <li><a href="#!">Privacy Policy</a></li>
        <li><a href="{{ site.baseurl }}/legal/">Disclaimer</a></li>
        <li>
          <a
            rdlmail
            href="mailto:tt||@rdl.org/contact@riskdatalibrary@@org?subject=RDL JKAN enquiry"
          >
            Contact
          </a>
        </li>
      </ul>
    </div>
  </div>
</footer>
