<!-- general behavior -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>
<script src="{{ site.baseurl }}/scripts/dist/bundle.js"></script>

<footer class="text-center navbar-default" style="bottom: 0px;">
    <div class="container">
        <div class="row">
            <!--Grid columns-->
            <div class="col-lg-3 col-md-3" style="vertical-align: middle">
                <br />
                <img src="{{base_url}}/img/logos/gfdrr-logo-footer.png" width="192" height="auto" alt="GFDRR Logo">
            </div>
            <div class="col-lg-6 col-md-3" style="color: white">
                <br />
                © 2021 Global Facility for Disaster Reduction and Recovery
            </div>
            <div class="col-lg-3 col-md-3" style="text-align: left; color: white">
                <ul class="list-unstyled">
                    <li>
                        <a href="#!">Privacy Policy</a>
                    </li>
                    <li>
                        <a href="#!">Terms of use</a>
                    </li>
                    <li>
                        <a href="mailto:contact@riskdatalibrary.org">Contact</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</footer>
