<div class="modern-header">
  <nav class="navbar navbar-default" data-component="navigation">
    <div class="container">

      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="{{ site.baseurl }}/">
          <img src="{{ site.baseurl }}/img/logos/rdl_logo_mr.svg" alt="Risk Data Library">
          <span class="logo-text">
            <span>Risk Data Library</span>
            <span class="catalog-text">CATALOG</span>
          </span>
        </a>
      </div>

      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav navbar-right">
          {% for link in site.navigation %}
            {% if page.url contains link.url %}
              <li class="active"><a href="{{ site.baseurl }}{{ link.url }}">{{ link.title }} <span class="sr-only">(current)</span></a></li>
            {% else %}
              <li><a href="{{ site.baseurl }}{{ link.url }}">{{ link.title }}</a></li>
            {% endif %}
          {% endfor %}
          <li><a href="https://docs.riskdatalibrary.org/" target="_blank">Documentation</a></li>
          <li><a href="https://gfdrr.github.io/CCDR-tools/_static/RDL_MDE.html" target="_blank">Metadata Editor</a></li>
          <li><a href="https://gfdrr.github.io/CCDR-tools/home.html" target="_blank">Tools</a></li>
          <li class="dropdown hidden" data-hook="user-dropdown">
            <a href="#" class="dropdown-toggle" data-hook="user-dropdown-link" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
              <span class="user-issue" data-hook="user-issue"><i class="fa fa-exclamation-circle"></i></span>
              <span data-hook="user-name">User</span>
              <span class="caret"></span>
            </a>
            <ul class="dropdown-menu">
              <li><a href="#" data-hook="logout-link">Logout</a></li>
            </ul>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</div>
